Source: ros-indigo-rviz
Section: misc
Priority: extra
Maintainer: David Gossow <dgossow@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libassimp-dev, libeigen3-dev, libgl1-mesa-dev, libglu1-mesa-dev, libogre-1.8-dev, libqt4-dev, libqt4-opengl-dev, libtinyxml-dev, libyaml-cpp-dev, ros-indigo-catkin, ros-indigo-cmake-modules, ros-indigo-geometry-msgs, ros-indigo-image-geometry, ros-indigo-image-transport, ros-indigo-interactive-markers, ros-indigo-laser-geometry, ros-indigo-map-msgs, ros-indigo-message-filters, ros-indigo-nav-msgs, ros-indigo-pluginlib, ros-indigo-python-qt-binding, ros-indigo-resource-retriever, ros-indigo-rosbag, ros-indigo-rosconsole, ros-indigo-roscpp, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-sensor-msgs, ros-indigo-std-msgs, ros-indigo-std-srvs, ros-indigo-tf, ros-indigo-urdf, ros-indigo-visualization-msgs
Homepage: http://ros.org/wiki/rviz
Standards-Version: 3.9.2

Package: ros-indigo-rviz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libeigen3-dev, libgl1-mesa-dev, libglu1-mesa-dev, libogre-1.8-dev, libqt4-dev, libqt4-opengl-dev, libtinyxml-dev, libyaml-cpp-dev, ros-indigo-geometry-msgs, ros-indigo-image-geometry, ros-indigo-image-transport, ros-indigo-interactive-markers, ros-indigo-laser-geometry, ros-indigo-map-msgs, ros-indigo-media-export, ros-indigo-message-filters, ros-indigo-nav-msgs, ros-indigo-pluginlib, ros-indigo-python-qt-binding, ros-indigo-resource-retriever, ros-indigo-rosbag, ros-indigo-rosconsole, ros-indigo-roscpp, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-sensor-msgs, ros-indigo-std-msgs, ros-indigo-std-srvs, ros-indigo-tf, ros-indigo-urdf, ros-indigo-visualization-msgs
Description: 3D visualization tool for ROS.
