Source: ros-hydro-rviz
Section: misc
Priority: extra
Maintainer: David Gossow <dgossow@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libassimp-dev, libeigen3-dev, libogre-dev, libqt4-dev, libqt4-opengl-dev, libtinyxml-dev, ros-hydro-catkin, ros-hydro-cmake-modules, ros-hydro-geometry-msgs, ros-hydro-image-geometry, ros-hydro-image-transport, ros-hydro-interactive-markers, ros-hydro-laser-geometry, ros-hydro-map-msgs, ros-hydro-message-filters, ros-hydro-nav-msgs, ros-hydro-pluginlib, ros-hydro-python-qt-binding, ros-hydro-resource-retriever, ros-hydro-rosbag, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-std-srvs, ros-hydro-tf, ros-hydro-urdf, ros-hydro-urdfdom, ros-hydro-visualization-msgs, yaml-cpp
Homepage: http://ros.org/wiki/rviz
Standards-Version: 3.9.2

Package: ros-hydro-rviz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libeigen3-dev, libogre-dev, libqt4-dev, libqt4-opengl-dev, libtinyxml-dev, ros-hydro-geometry-msgs, ros-hydro-image-geometry, ros-hydro-image-transport, ros-hydro-interactive-markers, ros-hydro-laser-geometry, ros-hydro-map-msgs, ros-hydro-media-export, ros-hydro-message-filters, ros-hydro-nav-msgs, ros-hydro-pluginlib, ros-hydro-python-qt-binding, ros-hydro-resource-retriever, ros-hydro-rosbag, ros-hydro-rosconsole, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-std-srvs, ros-hydro-tf, ros-hydro-urdf, ros-hydro-urdfdom, ros-hydro-visualization-msgs, yaml-cpp
Description: 3D visualization tool for ROS.
